@import "leaflet/dist/leaflet.css";
@import "leaflet-routing-machine/dist/leaflet-routing-machine.css";
@import "react-big-calendar/lib/css/react-big-calendar.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Then add your custom animations in a layer */
@layer utilities {
  @keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .animate-slideInLeft {
    animation: slideInLeft 0.3s forwards;
  }
}
